$miezo-blue: #0471dd;
$main-bg-color: #e1effd;
$main-blue: rgba(0, 135, 235, 0.9);
$hover-blue: rgb(0, 128, 226);
$main-green: #9cd6cc;
$main-font-color: rgb(77, 77, 77);
$deco-gray: #ccc;
$main-red: rgba(255, 0, 0, 0.6);
