@import "../shared/scss/global";
@import "../shared/scss/colors";
@import "../shared/scss/variables";
@import "../shared/scss/mixin";

.accordion {
  .accordion-item {
    overflow: hidden;
    border-color: rgba(228, 228, 228, 0.6);
    border-radius: 0.5rem;

    .accordion-button {
      font-size: 1.1rem;
      color: inherit;
      background-color: rgba(228, 228, 228, 0.6);

      & > button:focus {
        box-shadow: none;
      }

      & > i {
        transform: rotate(0);
        transition: 0.3s;
      }

      &:not(.collapsed) {
        color: #fff;
        background-color: $main-blue;

        & > i {
          transform: rotate(-180deg);
          transition: 0.3s;
        }
      }

      &::after {
        display: none;
      }
    }
  }

  .accordion-collapse.collapsing {
    transition: height 0.2s ease-in-out;
  }

  .accordion-body {
    .input-invalid {
      box-shadow: 0 0 0 0.1rem $main-red !important;
    }

    .text-invalid {
      color: $main-red !important;
    }

    .col-form-label {
      font-size: 1.1rem;
      color: $main-font-color;
    }

    .deco-text {
      font-size: 0.9rem;
      color: $deco-gray;
    }

    #brief-description {
      min-height: 7rem;
      max-height: 7rem;
    }

    .words-counter {
      min-width: 7%;
      font-size: 0.9rem;
      color: $deco-gray;
    }

    .thumbnail,
    .upload-btn {
      position: relative;

      .image-container {
        padding-top: 60%;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #eee;
      }

      .delete-thumbnail {
        @include control-btn($position: absolute, $top: -0.5rem, $font-size: 1.2rem ,$color: rgba(255, 0, 0, 0.8));
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 40%;
      }
    }

    .upload-btn {
      cursor: pointer;
    }

    .float-input {
      position: relative;

      #capacity + .float-text {
        @include float-text($content: "人");
      }

      #min-hour + .float-text {
        @include float-text($content: "小時");
      }
    }

    .control-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    .add-btn {
      @include control-btn($font-size: 1.2rem ,$color: rgba(0, 135, 235, 0.9));
    }

    .close-btn {
      @include control-btn($font-size: 1.2rem ,$color: rgba(255, 0, 0, 0.8));
    }

    .toggle-switch-text {
      font-size: 1rem;
      color: $deco-gray;
    }

    .day-check:checked ~ .toggle-switch-text,
    #recording-provide-check:checked ~ .toggle-switch-text,
    #rent-check:checked ~ .toggle-switch-text {
      color: $main-blue;
    }

    .rule-input {
      min-height: 7rem;
      max-height: 7rem;
    }

    .ck[role="textbox"] {
      min-height: 16rem;
    }

    .step-btn, {
      &.next-step {
        position: relative;
        color: $main-blue;

        &::after {
          position: absolute;
          top: 90%;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 2px;
          background-color: $main-blue;
          content: "";
          transition: 0.3s ease-in-out;
        }

        &:hover::after {
          width: 100%;
          transition: 0.3s ease-in-out;
        }
      }

      &.save-btn {
        color: #fff;
        background-color: $main-blue;
        transition: 0.2s;

        &:hover {
          background-color: $hover-blue;
          transition: 0.2s;
        }
      }

      &.pre-step {
        position: relative;
        color: $deco-gray;

        &::after {
          position: absolute;
          top: 90%;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 2px;
          background-color: $deco-gray;
          content: "";
          transition: 0.3s ease-in-out;
        }

        &:hover::after {
          width: 100%;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .accordion {
    .accordion-body {
      .thumbnail,
      .upload-btn {
        .image-container {
          padding-top: 75%;
        }
      }
    }
  }
}
